<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" Its a blogging Website . where You can log youreself in and can make money">
    <title>Blogging Webside &ndash; ~Dhruvajyoti Das &ndash; If you can't find the key smash the door</title>
    <link rel="shortcut icon" type="img/png" href="/favicon.ico">
    <link rel="stylesheet" href="/style.css">
    <style type="text/css">.home-menu{
        background-color: black;
    }
    body{
        background-color:#330099;
        color: aqua;
        
    }
    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
    .pict{ -webkit-margin-top: 5em;
        -webkit-width: 35%;
        -webkit-float: left;
        -webkit-margin: 20px;
        width: 35%;
        float: left;
        margin: 20px;
        margin-top: 5em;
        
    }
   
    .m{-webkit-border-radius: 2em;
        border: solid aliceblue;
        border-radius: 2em;
    }
   
    h1, h2, h3, h4, h5, h6, label {
    color:wheat;
}

    </style>
    <script type="text/javascript">

</script>

</head>



<body>

    <%- include ("./nav.ejs") %>


        <div class="pict">
            <img src="dj1.jpg" alt="My pic" class="m" width="100%" />
            <div class="content-two">
                hey ! This is Dhruva And this  app is running on nodejs server if You want a Website Like this ,Feel free to contact Me <h3>HERE is my FACEBOOK
                    Profile</h3><br>
                <hr>
                <a class="button" href="https://www.facebook.com/dusttan.person">
                    <h2>FACEBOOK</h2>
                </a>
                <hr><br>
               
                <br>
                ~Web Developer
            </div>
        </div>

        <div class="pict">
            <img src="md1.jpg" alt="My pic" class="m" width="100%" />
            <div class="content-two">
                hey ! This is Mridul , I am a Prime member at Genesis <h3>HERE is my FACEBOOK
                    Profile</h3><br>
                <hr>
                <a class="button" href="https://www.facebook.com/mriduldas87">
                    <h2>FACEBOOK</h2>
                </a>
                <hr><br>
               
                <br>
                ~Prime Member
            </div>
        </div>
       
       
        
      
     
</body>
