<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" Its a blogging Website . where You can log youreself in and can make money">
    <title>Blogging Website &ndash; ~Dhruvajyoti Das &ndash; If you can't find the key smash the door</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/style.css">
    <script data-ad-client="ca-pub-9305214334279047" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<div id="fb-root"></div>


<body>

 <%- include ("./nav.ejs") %>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Genesis</h1>
       
       <p>
            <a href="/blog/norteast" class="pure-button pure-button-primary">A Journey Towards North East</a>
        </p>
    </div>
</div>

 <div>   <div class="content-wrapper">
        <div class="content">
           

            <div class="">
                <%- include ("./blog.ejs") %>
            
            </div>
        </div>

        

    

    </div>
</div>
</body>
</html>
