<div class="header">
    <div class="home-menu ">
        <a class="pure-menu-heading" href="/">Genesis</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="/" class="pure-menu-link">Home</a></li>
            
            <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About us</a></li>

            <li class="pure-menu-item"><a href="blog/" class="pure-menu-link">Log In</a></li>
        </ul>
    </div>
</div>