<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" Its a blogging Website . where You can log youreself in and can make money">
    <title>Blogging Website &ndash; ~Mridul Das &ndash; If you can't find the key smash the door</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/style.css">
    <style>.home-menu{
        background-color: black;
    }
        ol {
            list-style: none;
        }
        .pict{ -webkit-margin-right: 2.5em;
        -webkit-width: 45%;
        -webkit-float: left;
        -webkit-margin: 2px;
        width: 45%;
        float: left;
        margin: 2px;
        margin-right: 2.5em;
        
    }

    .m{-webkit-border-radius: 2em;
        border: solid aliceblue;
        border-radius: 2em;
    }
 @media (min-width: 78em) {.pict{-webkit-margin-right: 2.5em;
        -webkit-width: 55%;
        -webkit-float: none;
        -webkit-margin: 2px;
        width: 55%;
        float: none;
        margin: 2px;
        margin-right: 2.5em;
        
    }
}
   
    </style>
</head>



<body>

   <div class="header">
        <div class="home-menu ">
            <a class="pure-menu-heading" href="/">Genesis</a>
    
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="/" class="pure-menu-link">Home</a></li>
                
                <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About us</a></li>
    
                <li class="pure-menu-item"><a href="./" class="pure-menu-link">Log In</a></li>
            </ul>
        </div>
    </div>
        <div class="">
            <div class="content">


                <div class="">
                    <div class="l-box ">

                        <h2 class="content-head is-center color3">
                            <i class="fa fa-check-square-o"></i>
                            Amazing facts about Northeast India , Hold your seat tight We Are About To Take A Journey
                            Here
                        </h2><div ><img src="/north.jpg" alt="My pic" class="m" width="100%" /></div>
                        
                        <h4 class="blog floatr">
                            ~Mridul Das
                        </h4>
                        <ol>
                            <li>
                                <h3 class="blog colo">
                                    Assam :
                                    <ul>
                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; It is the land of world’s largest river island as well as world’s
                                                smallest island
                                            </h4>
                                            </p>
                                        </li>



                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;India’s largest shaktipeeth “Maa Kamakhya Temple” is
                                                situated in Assam
                                            </h4>
                                            </p>
                                        </li>
                                        <div class="pict" ><img src="/ran.jpg" alt="My pic" class="m" width="100%" /></div>
                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; Asia’s oldest amphitheater “Ranghar”, is situated in
                                                Sivasagar, Assam
                                            </h4>
                                            </p>
                                        </li>

                                       

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; India’s oldest refinery and birthplace of crude oil
                                                is in the digboi town of Assam
                                            </h4>
                                            </p>
                                        </li>
                                        <div class="pict" ><img src="/bhupen.jpg" alt="My pic" class="m" width="100%" /></div>
                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;India’s longest river bridge Bhupen Hazarika Setu
                                                connects Dhola with Sadiya of Assam
                                            </h4>
                                            </p>
                                        </li>

                                    </ul>

                                   


                                </h3>
                            </li><br><hr><br>
                            <li>
                                <h3 class="blog colo">
                                    Meghalaya: :
                                    <ul>
                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; Shillong of Meghalaya is known as  Scotland of the east.
                                            </h4>
                                            </p>
                                        </li>



                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;Till independence of India, during British rule Meghalaya was a part of Assam state with semi autonomous status.
                                            </h4>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; It has the India’a longest cave system.
                                            </h4>
                                            </p>
                                        </li>
                                        <div class="pict" ><img src="/clean.jpg" alt="My pic" class="m" width="100%" /></div>
                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; Asia’s cleanest village Mawlynnong is in Meghalaya
                                            </h4>
                                            </p>
                                        </li>
                                        <div class="pict" ><img src="/dawki.jpg" alt="My pic" class="m" width="100%" /></div>
                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; Popularly known as Dawki river, the Umngot river in Meghalaya is the cleanest river in Asia.
                                            </h4>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;Nohkalikai Falls in Meghalaya is the tallest plunge waterfall in India. Its height is 340 metres.
                                            </h4>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;<li>
                                                    <p>
                                                    <h4 class="blog">
                                                        &nbsp;Meghalaya is home to the top two wettest places on earth which are Cherrapunji and Mawsynram
                                                    </h4>
                                                    </p>
                                                </li>
                                            </h4>
                                            </p>
                                        </li><li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;In Meghalaya, the children take the surname of the mother. Girls in the family inherit the property from their parents and boys go to the bride’s home after marriage.
                                            </h4>
                                            </p>
                                        </li>

                                    </ul>

                                   


                                </h3>
                            </li>
                            <li><br><hr><br>
                                <h3 class="blog colo">
                                    Mizorum:
                                    <ul>
                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; Man in Mizorum has a world record as of the head of “World’s largest existing family” with a family member of 181 and counting.
                                            </h4>
                                            </p>
                                        </li>



                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;India’s largest shaktipeeth “Maa Kamakhya Temple” is
                                                situated in Assam
                                            </h4>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; Tropic of cancer passes through Mizorum.
                                            </h4>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; The state stands second in literacy rate after Kerala.
                                            </h4>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;Mizorum is known for Mautam, a natural phenomenon which occurs every 48 years.
                                            </h4>
                                            </p>
                                        </li>

                                        

                                    </ul>

                                   


                                </h3>
                            </li><br><hr><br>
                            <li>
                                <h3 class="blog colo">
                                    Manipur: 
                                    <ul><div ><img src="/float.jpg" alt="My pic" class="m" width="100%" /></div>
                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; This state is related to Mahabharata as Arjun, one of the son of pandava married to the daughter of Manipur’s king Chitravahana.
                                            </h4>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; World’s only floating national park– Keibul Lamjao National Park is situated  in Manipur.
                                            </p>
                                        </li>
                                        
                                       

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; World’s oldest polo ground is in Imphal, Manipur.
                                            </h4>
                                            </p>
                                        </li>
                                        <div class="pict" ><img src="/woman.jpg" alt="My pic" class="m" width="100%" /></div>
                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; In Manipur there is a market, Ima keithel, managed by only woman.
                                            </h4>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; Manipur is a large producer of bamboo. Around 51 species of bamboo is found in here.
                                            </h4>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;INA war museum is in moirang, Manipur. It is the official museum dedicated to 2nd world war and focus the role of  Netaji Subhash Chandra Bose in particular.
                                            </h4>
                                            </p>
                                        </li>  <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;Irom Chanu Sharmila who fasted 16 long years known as “Iron lady of Manipur”.
                                            </h4>
                                            </p>
                                        </li>  

                                    </ul>

                                   


                                </h3>
                            </li><br><hr><br>
                            <li>
                                <h3 class="blog colo">
                                    Tripura: 
                                    <ul>
                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; Tripura is connected with rest of the India with just one national highway, NH44.
                                            </h4>
                                            </p>
                                        </li>



                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;Neermahal, a former royal palace built by Maharaja  Bir Bikram Kishore Manikya Debbarma is in Tripura.
                                            </h4>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; Manik Sarkar, chief minister of Tripra, is the poorest chief minister in the country.
                                            </h4>
                                            </p>
                                        </li>

                                       

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; Unakoti hill, in Tripura famous for its massive stone and rock cut sculptures. According to Hindu mythology Lord shiva spent a night in Unakoti enroute to kashi.
                                            </h4>
                                            </p>
                                        </li>
                                        <div class="pict" ><img src="/tamp.jpg" alt="My pic" class="m" width="100%" /></div>
                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;Tripura is also famous for Chaturdasha Temple popularly known as fourteen goddesses temple.
                                            </h4>
                                            </p>
                                        </li>

                                    </ul>

                                   


                                </h3>
                            </li><br><hr><br>
                            <li>
                                <h3 class="blog colo">
                                    Nagaland: 
                                    <ul>
                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; Nagaland is famous for its festivals, specifically Hornbill festival.
                                            </h4>
                                            </p>
                                        </li>



                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;Nagaland is known as falcon capital of the world.
                                            </h4>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;It is the only state of the country which showed population drop between 2001-2011 census.
                                            </h4>
                                            </p>
                                        </li>

                                       

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; In 1944, the Indian National Army with the help of Japanese Army, led by Netaji Subhashchandra Bose, invading through Burma, attempted to free India through Kohima, Nagaland.
                                            </h4>
                                            </p>
                                        </li>
                                        <div class="pict" ><img src="/bhut.jpg" alt="My pic" class="m" width="100%" /></div>
                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;Nagaland is home to the  the bhut jolokia or ghost pepper, one of the hottest chilis in the world.
                                            </h4>
                                            </p>
                                        </li>

                                    </ul>

                                   


                                </h3>
                            </li><br><hr><br>

                            <li>
                                <h3 class="blog colo">
                                    Arunachal Pradesh:
                                    <ul>
                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; Initially called as North East Frontier Agency(NEFA).
                                            </h4>
                                            </p>
                                        </li>



                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;Area wise Arunachal is the largest state among the Northeastian state.
                                            </h4>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;Tawang, Arunachal has the largest monastery in India and the 2nd largest in the whole world.
                                            </h4>
                                            </p>
                                        </li>

                                       

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; It has the thinnest population density in the country, 13 persons per square kilometre.
                                            </h4>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;This state is known as Orchid state of India or the paradise of botanist.
                                            </h4>
                                            </p>
                                        </li> <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;Kiren Rijiju who is from Arunachal is the current Minister of State of the Ministry of Youth Affairs and Sports and Minister of State in the Ministry of Minority Affairs of India.
                                            </h4>
                                            </p>
                                        </li> 
                                        <div  ><img src="/dong.jpg" alt="My pic" class="m" width="100%" /></div>
                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;The first sunrise of the country is seen from Dong valley, Arunachal.
                                            </h4>
                                            </p>
                                        </li>

                                    </ul>

                                   


                                </h3>
                            </li><br><hr><br>

                            <li>
                                <h3 class="blog colo">
                                    Sikkim:
                                    <ul> <div class="pict" ><img src="/nathula.jpg" alt="My pic" class="m" width="100%" /></div>
                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;There is a temple in Sikkim after the name of Hero of Nathula, Baba harbhajan singh.
                                            </h4>
                                            </p>
                                        </li>



                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;Sikkim declared itself as organic- first organic state in the country.
                                            </h4>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;It is the 2nd largest production of cardamom in the world.
                                            </h4>
                                            </p>
                                        </li>

                                       

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp; Initially Sikkim was an independent country until merged with India in 1975.
                                            </h4>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;Khangchendzonga National Park in Sikkim is declared as India’s first mixed world heritage site by UNESCO.
                                            </h4>
                                            </p>
                                        </li> <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;Bhaichung Bhutia, a famous Indian footballer is from Sikkim.
                                            </h4>
                                            </p>
                                        </li> <li>
                                            <p>
                                            <h4 class="blog">
                                                &nbsp;Sikkim is home to the world’s third-largest mountain peak, mt. Kanchenjunga.
                                            </h4>
                                            </p>
                                        </li><li>
                                            <p>
                                            <h4 class="blog">
                                                
                                                    <p>
                                                    <h4 class="blog">
                                                        &nbsp;Famous Nathula pass is in Sikkim.
                                                    </h4>
                                                    </p>
                                               
                                            </h4>
                                            </p>
                                        </li>

                                    </ul>

                                   


                                </h3>
                            </li><br><hr><br>

                        </ol>





                    </div>

                    <br>
                    <hr>

                </div>
            </div>
        </div>

</body>
